<div class="col-xs-12" title align="left" style="padding-bottom: 15px;border-bottom:1px solid #d1d8dd;">
	<h4>Tasks Groups</h4>
</div>	
{% for(var i=0, l=Object.keys(data).length; i < l; i++) { %}
	<div class="col-xs-12 title task_group_title" align="left" group-name = "{{ Object.keys(data)[i] }}" style="padding-bottom: 15px;border-bottom:1px solid #d1d8dd;">
		<div class="row">
				<div class="col-xs-4"><b>{{ Object.keys(data)[i] }}</b></div>
			{% if (Object.keys(data)[i] == Object.keys(due_and_done_task[0])[i]) { %}
				<div class="col-xs-4" data-decimals="3"><b>{{ due_and_done_task[0][Object.keys(due_and_done_task[0])[i]] }} % Done</b></div>
			{% } else { %}		
				<div class="col-xs-4"></div> 
			{% } %}
			{% if (Object.keys(data)[i] == Object.keys(due_and_done_task[1])[i]) { %}
				<div class="col-xs-4"><b>{{ due_and_done_task[1][Object.keys(due_and_done_task[0])[i]] }} Overdue</b></div>
			{% } else { %}		
				<div class="col-xs-4"></div>
			{% } %}
		</div>	
	<table class="table table-bordered table-hover" group-name = "{{ Object.keys(data)[i] }}" style="display: none;">

		<tr style="line-height: 1; font-size: 14px; margin-bottom:0px;">
			<th style="width: 20px; padding-bottom:3px;padding-left:3px;padding-right:3px; line-height: 1;">
				Title
			</th>
			<th style="width: 120px; padding-bottom:3px;padding-left:3px;padding-right:3px; line-height: 1;">
				Status
			</th>
			<th style="width: 120px; padding-bottom:3px;padding-left:3px;padding-right:3px; line-height: 1;">
				Start Date
			</th>
			<th style="width: 120px; padding-bottom:3px;padding-left:3px;padding-right:3px; line-height: 1;">
				Responsible Staff Member
			</th>
		</tr>
		{% for(var j=0, k=data[Object.keys(data)[i]].length; j < k; j++) { %}
		<tr style="line-height: 1; font-size: 14px; margin-bottom:0px;">
			<td style="width: 20px; padding-bottom:3px;padding-left:3px;padding-right:3px; line-height: 1;">
				{{ data[Object.keys(data)[i]][j][0] }}
			</td>
			<td style="width: 120px; padding-bottom:3px;padding-left:3px;padding-right:3px; line-height: 1;">
				{{ data[Object.keys(data)[i]][j][1] }} 
			</td>
			<td style="width: 120px; padding-bottom:3px;padding-left:3px;padding-right:3px; line-height: 1;">
				{{ data[Object.keys(data)[i]][j][2] }} 
			</td>
			<td style="width: 120px; padding-bottom:3px;padding-left:3px;padding-right:3px; line-height: 1;">
				{{ data[Object.keys(data)[i]][j][3] }} 
			</td>
		</tr>
		{% } %}
	</table>
	</div>
{% } %}