<div class="row">
	<div class="col-xs-3"></div>
	<div class="col-xs-9 logo" style="margin-left: -2mm; margin-top: -10px;padding-bottom: 15px;">
		<img src="/files/NH-Word-Header.png" align="right" height="68">
	</div>
</div>
<div class="row">
	<div class="col-xs-12 seminar" style="padding-left: 25px;font-size: 18px;font-weight: bold;color: #A9A9A9;">{%= __("Evaluation Seminar") %}</div>
</div>
<div class="row">
	<div class="col-xs-12 project" style="padding-left: 25px;margin-top: 19px;padding-bottom: 15px;">
	<b>{%= __("Project") %} : </b>{%= Object(project.pro) %} / <b>{%= __("Number of Reviews") %} :</b> {%= Object(project.val) %}</div>
</div>
<div class = "row">
	<div class="col-md-12">
		<table class="table table-bordered" style="table-layout: fixed; width: 100%">
			<tbody>
				<tr>
					<th style="text-align: center;">
						<b>{%= __("Quality training room") %}</b>
					</th>
					<th style="text-align: center;">
						<b>{%= __("Total performance of the course leader") %}</b>
					</th>
				</tr>
				<tr>
					<td>
						<div id="c3_graph_quality" style="text-align: center;"></div>
						<div align="center"> <b>{%= __("Average Rating") %} :</b> {%= Object(data.rating.quality_training_room) %}</div>
						
					</td>
					<td>
						<div id="c3_graph_leader" style="text-align: center;"></div>
						<div align="center"> <b>{%= __("Average Rating") %} :</b> {%= Object(data.rating.total_of_leader) %}</div>
					</td>
				</tr>
			</tbody>
		</table>
	<div class = "row break-table">
	<div class="col-md-12">
		<table class="table table-bordered" style="table-layout: fixed; width: 100%">
			<tbody>
				<tr>
					<th style="text-align: center;" colspan="2">
						<b>{%= __("Comprehensibility of the training content") %}</b>
					</th>
				</tr>
				<tr>
					<td colspan="2">
						<div id="c3_graph_comprehensan" style="text-align: center;"></div>
						<div align="center"> <b>{%= __("Average Rating") %} :</b> {%= Object(data.rating.comprehensan_t_content) %}</div>
					</td>
				</tr>
			</tbody>
		</table>
		</div>
		</div>	
	</div>
</div>
<div class = "row main_goal">
	<div class="col-md-12">
		<table class="table table-bordered" style="table-layout: fixed; width: 100%">
			<tbody>
				<tr>
					<th class= "col-xs-8 align_table_8" style="text-align: center;">
						<b>{%= __("Main Goal") %}</b>
					</th>
					<th class= "col-xs-4 align_table_4" style="text-align: center;">
						<b>{%= __("Number of Votes") %}</b>
					</th>
				</tr>
				{% for(var i=0, l=Object.keys(data.feedback_data.main_goal).length; i<l; i++) { %}
					{% if (Object.keys(data.feedback_data.main_goal)[i]) { %}
					<tr>
					<td class= "col-xs-8 align_table_8" style="text-align: center;">{%= __(Object.keys(data.feedback_data.main_goal)[i]) %}</td>
					<td class= "col-xs-4 align_table_4" style="text-align: center;">{%= data.feedback_data.main_goal[Object.keys(data.feedback_data.main_goal)[i]] %}</td>
				</tr>
				{% } %}
				{% } %}
			</tbody>
		</table>	
	</div>
</div>
<div class = "row main_goal">
	<div class="col-md-12">
		<table class="table table-bordered" style="table-layout: fixed; width: 100%;">
			<tbody>
				<tr>
					<th class= "col-xs-8 align_table_8" style="text-align: center;">
						<b>{%= __("How satisfied are you with this training?") %}</b>
					</th>
					<th class= "col-xs-4 align_table_4" style="text-align: center;">
						<b>{%= __("Number of Votes") %}</b>
					</th>
					
				</tr>
				{% for(var i=0, l=Object.keys(data.config).length; i<l; i++) { %}				
				<tr>
					<td class= "col-xs-8 align_table_8">
						<div align="center" class="row">
							<div class="col-xs-4"></div>
							<div class="col-xs-4">
								<img src="{%= data.config[Object.keys(data.config)[i]][0] %}" class="img-responsive attach-image-display" style="margin: 0 auto;width: 100px;height: 20px;">
							</div>
							<div class="col-xs-4"></div>
						</div>

					</td>
					<td  class= "col-xs-4 align_table_4" style="text-align: center;">{%= data.config[Object.keys(data.config)[i]][1] %}</td>	
				</tr>
				{% } %}
				<tr>
					<td style="text-align: center;">
						{%= __("Average Rating") %}
					</td>
					<td style="text-align: center;">{%= data.rating.how_satisfied %}</td>	
				</tr>
				
			</tbody>
		</table>	
	</div>
</div>

<div class="row">
	<div class="col-xs-12">
		<footer class="footer_date" style="font-size: 10px;">
			{%= data.date %}
		</footer>
	</div>
</div>



