<div class="row">
	<div class="col-xs-3"></div>
	<div class="col-xs-9" style="margin-left: -2mm; margin-top: -50px !important; padding-bottom: 30px">
		<img src="/files/NH-Word-Header.png" align="right" height="68">
	</div>
</div>

<div class="row">
	<div class="col-xs-5" style="padding-left: 25px;font-size: 20px;font-weight: bold;color: #A9A9A9;">{%= __("Evaluation Seminar") %}</div>
</div>

<div class="row">
	<div class="col-xs-12 project" style="padding-left: 25px;margin-top: 19px;padding-bottom: 38px">
	<b>{%= __("Project") %} : </b>{%= Object(project.pro) %} / <b>{%= __("Number of Reviews") %} :</b> {%= Object(project.val) %}</div>
</div>

<div class="row report">
	{% if (Object.keys(data.feedback_data.main_goal).length > 0) { %}
	<div class="col-xs-6">
		<div class="row">
			<div class="col-xs-12 c3" align="center">
				<b>{%= __("Main Goal") %}</b>
			</div>
		</div>
		<div>
			<div class="col-xs-12 c3" id="main_goal" style="height:350px"></div>
		</div>
	</div>
	{% } %}
	{% if (Object.keys(data.feedback_data.comprehensan_t_content).length > 0) { %}
	<div class="col-xs-6">
		<div class="row">
			<div class="col-xs-12 c3" align="center">
				<b>{%= __("Comprehensibility of the training content") %}</b>
			</div>
		</div>
		<div>
			<div class="col-xs-12 c3" id="comprehensan_content" style="height:270px"></div>
			<div class="col-xs-12" align="center" style="padding-bottom: 20px;padding-top: 20px;"> <b>{%= __("Average Rating") %} :</b> {%= Object(data.rating.comprehensan_t_content) %}</div>
		</div>
	</div>
	{% } %}
</div>

<div class="row report">
	{% if (Object.keys(data.feedback_data.advancement_opportunities).length > 0) { %}
	<div class="col-xs-6">
		<div class="row">
			<div class="col-xs-12 c3" align="center">
				<b>{%= __("Influence of this training with regard to your career advancement opportunities") %}</b>
			</div>
		</div>
		<div>
			<div class="col-xs-12 c3" id="advancement_opportunities" style="height:270px"></div>
			<div class="col-xs-12" align="center" style="padding-bottom: 20px;padding-top: 20px;"> <b>{%= __("Average Rating") %} :</b> {%= Object(data.rating.advancement_opportunities) %}</div>
		</div>
	</div>
	{% } %}
	{% if (Object.keys(data.feedback_data.quality_training_room).length > 0) { %}
	<div class="col-xs-6" >
		<div class="row">
			<div class="col-xs-12 c3" align="center">
				<b>{%= __("Quality training room") %}</b>
			</div>
		</div>
		<div>
			<div class="col-xs-12 c3" id="quality" style="height:270px"></div>
			<div class="col-xs-12" align="center" style="padding-bottom: 20px; padding-top: 20px;"> <b>{%= __("Average Rating") %} :</b> {%= Object(data.rating.quality_training_room) %}</div>
		</div>
	</div>
	{% } %}
</div>


<div class="row report">
	{% if (Object.keys(data.feedback_data.how_satisfied).length > 0) { %}
	<div class="col-xs-6">
		<div class="row">
			<div class="col-xs-12 c3" align="center">
				<b>{%= __("How satisfied are you with this training?") %}</b>
			</div>
		</div>
		<div>
			<div class="col-xs-12 c3" id="training_satisfaction_chart" style="height:270px"></div>
			<div class="col-xs-12" align="center" style="padding-bottom: 20px;padding-top: 20px;"> <b>{%= __("Average Rating") %} :</b> {%= Object(data.rating.how_satisfied) %}</div>
		</div>
	</div>
	{% } %}
	{% if (Object.keys(data.feedback_data.total_of_leader).length > 0) { %}
	<div class="col-xs-6">
		<div class="row">
			<div class="col-xs-12 c3" align="center">
				<b>{%= __("Total performance of the course leader") %}</b>
			</div>
		</div>
		<div>
			<div class="col-xs-12 c3" id="total_of_leader" style="height:270px"></div>
			<div class="col-xs-12" align="center" style="padding-bottom: 20px;padding-top: 20px; "> <b>{%= __("Average Rating") %} :</b> {%= Object(data.rating.total_of_leader) %}</div>
		</div>
	</div>
	{% } %}
</div>