<div style="max-height: 340px;overflow-y: scroll; position: relative">
<div class="col-xs-12" title align="left" style="padding-bottom: 15px;border-bottom:1px solid #d1d8dd;">
	<h4>Tasks Groups</h4>
</div>	
{% for(var i=0, l=Object.keys(data).length; i < l; i++) { %}
	<div class="col-xs-12 title task_group_title" align="left" group-name = "{{ Object.keys(data)[i] }}" style="padding-bottom: 15px;border-bottom:1px solid #d1d8dd">
		<div class="row name">
				<div class="col-xs-3"><b>{{ Object.keys(data)[i] }}</b></div>
			{% if (Object.keys(data)[i] == Object.keys(due_and_done_task[0])[i]) { %}
				<div class="col-xs-3" data-decimals="3"><b>{{ due_and_done_task[0][Object.keys(due_and_done_task[0])[i]] }} % {%= __("Done") %}</b></div>
			{% } else { %}		
				<div class="col-xs-3"></div> 
			{% } %}
			{% if (Object.keys(data)[i] == Object.keys(due_and_done_task[1])[i]) { %}
				<div class="col-xs-3"><b>{{ due_and_done_task[1][Object.keys(due_and_done_task[0])[i]] }} {%= __("Overdue") %}</b></div>
			{% } else { %}		
				<div class="col-xs-3"></div>
			{% } %}
			<div class="col-xs-3">
			<span class="octicon octicon-triangle-down" style="color: darkgray;"></span>
			</div>

		</div>	
	<table class="table table-bordered table-hover" group-name = "{{ Object.keys(data)[i] }}" style="display: none;">

		<tr style="line-height: 1; font-size: 14px; margin-bottom:0px;">
			<th style="width: 20px; padding-bottom:3px;padding-left:3px;padding-right:3px; line-height: 1;">
			</th>
			<th style="width: 20px; padding-bottom:3px;padding-left:3px;padding-right:3px; line-height: 1;">
				Title
			</th>
			<th style="width: 80px; padding-bottom:3px;padding-left:3px;padding-right:3px; line-height: 1;">
				Status
			</th>
			<th style="width: 80px; padding-bottom:3px;padding-left:3px;padding-right:3px; line-height: 1;">
				Start Date
			</th>
			<th style="width: 80px; padding-bottom:3px;padding-left:3px;padding-right:3px; line-height: 1;">
				Responsible Staff Member
			</th>

			<th style="width: 20px; padding-bottom:3px;padding-left:3px;padding-right:3px; line-height: 1;">
			</th>
		</tr>
		{% for(var j=0, k=data[Object.keys(data)[i]].length; j < k; j++) { %}
		<tr style="line-height: 1; font-size: 14px; margin-bottom:0px;">
			<td style="width: 20px; padding-bottom:3px;padding-left:3px;padding-right:3px; line-height: 1;">
				{% if (data[Object.keys(data)[i]][j][5]< frappe.datetime.nowdate()) { %}
             	<div class="col-xs-4">
             		<span class="indicator red"></span>
             	</div>
				{% } else { %}		
				<div class="col-xs-4"></div>
				{% } %}
			</td>

			<td style="width: 20px; padding-bottom:3px;padding-left:3px;padding-right:3px; line-height: 1;">
				{{ data[Object.keys(data)[i]][j][0] }}
			</td>
			<td style="width: 80px; padding-bottom:3px;padding-left:3px;padding-right:3px; line-height: 1;">
				{{ data[Object.keys(data)[i]][j][1] }} 
			</td>
			<td style="width: 80px; padding-bottom:3px;padding-left:3px;padding-right:3px; line-height: 1;">
				{{ data[Object.keys(data)[i]][j][2] }} 
			</td>
			<td style="width: 80px; padding-bottom:3px;padding-left:3px;padding-right:3px; line-height: 1;">
				{{ data[Object.keys(data)[i]][j][3] }} 
			</td>
			<td style="width: 20px; padding-bottom:3px;padding-left:3px;padding-right:3px; line-height: 1;">
				<div class="col-xs-4">
				<span class="octicon octicon-triangle-down triangle" task-id="{{ data[Object.keys(data)[i]][j][6] }}" style="color: darkgray;"></span>
			</div>
			</td>
		</tr>
		{% } %}
	</table>
	</div>
{% } %}

</div>